/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.styled-card {
    display: flex; 
    flex-direction: column; 
    padding: 16px;
}

.styled-card .content {
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 12px;
    align-content: center;   
}

.styled-card mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.styled-card mat-card-header .header-text-info {
    font-size: 1rem;
    line-height: 1.5rem;
}