<mat-card class="styled-card">
    <mat-card-header>
        <div class="mb-10 bg-light-info p-8 rounded">
            <div class="header-text-info">
                Process Events List
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <app-element-list [config]="config"
                  [dataSource]="dataSource"
                  [displayedColumns]="columns"
                  (handelContent)="eventHandler($event)"></app-element-list>
    </mat-card-content>
</mat-card>