:host {
  .action-button-0 {
    --mdc-text-button-label-text-color: black;
  }
  .action-button-1 {
    --mdc-text-button-label-text-color: blue;
  }
  .action-button-2 {
    --mdc-text-button-label-text-color: #FFCC00;
  }
  .action-button-3 {
    --mdc-text-button-label-text-color: red;
  }
}
