<ng-container>
  <app-element-list-content-handler *ngIf="contentConfig.useContentHandler"
                                    [contentHandlerConfig]="contentConfig.contentHandlerConfig"
                                    (handelContent)="onHandleContentByPanel($event)"></app-element-list-content-handler>
  <app-element-list-content [config]="contentConfig.tableConfig"
                            [dataSource]="dataSource"
                            [displayedColumns]="displayedColumns"
                            [selectedElements]="selectedElements"
                            (selectionChange)="onSelectionChange($event)"
                            (handelContent)="onHandleContentByElement($event)"></app-element-list-content>
  <app-element-list-content-paginator *ngIf="contentConfig.usePagination"
                                      [paginationConfig]="contentConfig.paginationConfig"></app-element-list-content-paginator>
</ng-container>
