<div style="padding: 20px; background-color: #3f51b5; height: 100%">
    <mat-card
   class="styled-card"
  >

    <mat-card-header>
        <div class="mb-10 bg-light-info p-8 rounded">
            <div class="text-info">
                Use account <strong>{{ defaultAuth.email }}</strong> and password
                <strong>{{ defaultAuth.password }}</strong> to continue.
            </div>
            </div>
    </mat-card-header>
    <mat-card-content>
        <form class="content" [formGroup]="loginForm" novalidate="novalidate" (ngSubmit)="submit()">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput
                type="email" 
                placeholder="Email"
                name="email" 
                formControlName="email" 
                autocomplete="off"/>
                @if (formErrorHandlerService.controlHasErrors('email')) {
                    <mat-error *ngFor="let errorKey of formErrorHandlerService.getErrorKeys('email')">
                        {{ formErrorHandlerService.getErrorMessage('email', errorKey) }}
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>password</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput 
                    type="password" 
                    placeholder="Password"
                    name="password" 
                    autocomplete="off"
                    formControlName="password"/>
                    @if (formErrorHandlerService.controlHasErrors('password')) {
                        <!--
                        <mat-error *ngFor="let errorKey of formErrorHandlerService.getErrorKeys('password')">
                            {{ formErrorHandlerService.getErrorMessage('password', errorKey) }}
                        </mat-error>
                        -->
                        <!--
                        <mat-error>
                            {{ formErrorHandlerService.getErrorMessageAggregate('password') }}
                        </mat-error>
                        -->
                    }
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="submit()">
                Login
            </button>
        </form>

        <!-- {{loginForm.get('email')?.errors}} -->
        <!--
        <ng-container *ngIf="loginForm.get('email')?.errors.length != 0">
            <div class="custom-error">
                <ng-container *ngFor="let errKey of formErrorHandlerService.getErrorKeys('email')">
                    {{ formErrorHandlerService.getErrorMessage('email', errKey) }}
                </ng-container>
            </div>
            
       
        </ng-container>
        -->
        </mat-card-content>
    </mat-card>
</div>