<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="tableDataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox *ngIf="config.multiselect"
                      (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? toggleElement(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    @for (column of displayedColumns.slice(1, this.getGenericColumnsNumber() ); track column) {
      <ng-container *ngIf="config.sortable">
        <ng-container matColumnDef="{{column.name}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.displayName}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!config.sortable">
        <ng-container matColumnDef="{{column.name}}">
          <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
        </ng-container>
      </ng-container>
    }

    @for(iconColumn of this.config.rowTableIcons; track iconColumn.name) {
      <ng-container matColumnDef="{{iconColumn.name}}">
        <th mat-header-cell *matHeaderCellDef>{{iconColumn.displayName || ''}} </th>
        <td mat-cell *matCellDef="let element"> <app-icon [type]="iconColumn.type"
                                                          [icon]="iconColumn.iconName"
                                                          (click)="handelElement(iconColumn.actionType, element)"></app-icon>
        </td>
      </ng-container>
    }

    @if(this.config.multiActionButton) {
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="itemMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #itemMenu="matMenu">
                    @for(action of this.config.multiActionButton.actions; track action.name) {
                        <button mat-menu-item (click)="handelElement(action.actionType, element)">
                            <app-icon [type]="action.type"
                                      [icon]="action.iconName"></app-icon>
                            <span>{{action.displayName}}</span>
                        </button>
                    }
                </mat-menu>
            </td>
          </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="mapDisplayedColumnsToColumnName(); sticky: config.stickyHeader "></tr>
    <tr mat-row *matRowDef="let row; columns: mapDisplayedColumnsToColumnName();" (dblclick)="handelElement(actionType.Edit, row, true)"></tr>
  </table>
</section>
